<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.shsu.truck_it">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".UserSelectionActivity"
            android:label="@string/title_activity_user_selection"
            android:theme="@style/AppTheme" />
        <activity android:name=".DriverPicksClientActivity" />
        <activity
            android:name=".JobDetailsActivity"
            android:label="@string/title_activity_job_details"
            android:theme="@style/AppTheme" />
        <activity android:name=".UserRatesDriverActivity" />
        <activity android:name=".DriverRegisterActivity" />
        <activity
            android:name=".DriverStartJobActivity"
            android:label="@string/title_activity_driver_start_job"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Driver_Requests_Job_Activity"
            android:label="@string/title_activity_driver__requests__job_"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MyJobRequestsActivity"
            android:label="@string/title_activity_my_job_requests"
            android:theme="@style/AppTheme" />
        <activity android:name=".LogoutActivity" />
        <activity
            android:name=".AcceptOrDenyDriverActivity"
            android:label="@string/title_activity_accept_or_deny_driver"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>